*{
    margin: 0;
    padding: 0;
    background-color:grey ;
}
.img-bg{
    width: 2000px;
    height: 200px;
    /* background-image: url(bg2.jpg); */
    background-image: contain;
    background-repeat: no-repeat;
    display: none;
}
.wrapper
{
    width: 100%;
    height: 100vh;
    padding: 100px 80px 0px 0px;
}
@font-face {
    src: url(fonts/Pacifico/Pacifico-Regular.ttf);
    font-family: nos;
}
@font-face{
    src: url(fonts/Source_Sans_Pro/SourceSansPro-BlackItalic.ttf);
    font-family: ssp;
}
.box
{
    margin: 10px 10px;    
}
#heading1{
    font-family:nos;
    font-size: 40px;
    text-align: center;
}

div div #heading2 ,div div p
{
    font-family: ssp;
    text-align: center;
} 

div div #result
{
    border: solid 1px;
    padding: 20px;
    /* background-color:rgba(169, 169, 169, 0.2); */
    /* background-color: whitesmoke; */
    background-color: grey;
    margin: 5px ;
    margin-right: 10px;
}
.btn-gen{
    padding: 5px;
    width: 100%;
    background-color: bisque;
    color: black;
    font-family: sans-serif;
    font-size: x-large;
    font-style: bold;
}
#criteria1,#criteria1{
    padding-left: 5px;
    background-color: black;
}
#len ,#criteria1,#criteria2  {
    color: bisque;
}

@media only screen and (min-width:768px) {
    .img-bg{
        display: block;
    }
    div div #result
    {
        margin-right: 92px;
    }
    .btn-gen{
        width:710px;
    }
}

@media only screen and (min-width:1000px)
{
   
    .img-bg{
        display: block;
        width: 1000px;
    }
    div div #result
    {
        margin-right: 15px;
       
    }
    .btn-gen{
        width:1490px;
    }
}